=rob
	font-family: 'Roboto', sans-serif
+font(Rosamunda, Rosamunda-One)
=roca
	font-family: Rosamunda, sans-serif;

$white: #fff
$black: #000
$red: #df0327
$red2: #e92701
$red3: #fcbe95
$red5: #f7c3a1
$purple: #651960
$gray: #242424


body
	background: $white
	line-height: 1.4
	+font-smoothing
	+rob
	font-size: 2vh
	overflow: hidden

a
	text-decoration: none
h1,h2,h3,h4,h5,h6
	font-weight: normal
.title-lg, .title-m, .title-sm
	color: #df0327
	+roca
.title-lg
	font-size: 10vh
.title-m
	font-size: 60px
	margin-bottom: 45px
.title-sm
	font-size: 40px
	+sh
		font-size: 28px
.decor-text
	color: $purple
	// font-size: 10vh
	font-size: 30px
	text-align: center
	&--half-cirle
		min-width: 540px
		height: 170px
		line-height: 170px
		+lg
			font-size: 18px
			height: 100px
			line-height: 100px
			background-size: contain
			background-repeat: no-repeat
			background-position: 50% 100%
			font-size: 
		.top-lines
			top: 49%
			&:before
				left: 65px
				+lg
					left: 120px
			&:after
				right: 65px
				+lg
					right: 120px

.two-col
	height: 100%
	+clr
	&__left
		float: left
		height: 100%
	&__right
		float: right
		height: 100%
.article
	color: $gray
	font-size: 3vh
	p
		margin-bottom: 2vh
.decor-block
	border-top: 2px solid $red2
	border-bottom: 2px solid $red2
	padding: 9px 0
	&__inner
		background-position: 50% 50%
		background-size: cover
		background-repeat: no-repeat
.why-block
	max-width: 490px
	.title-m
		text-align: center
.quote
	position: relative
	color: $gray
	font-size: 24px
	font-weight: 300
	padding-left: 57px
	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		+s(quote-img)
.justify-content
	display: flex
	align-items: flex-start
	justify-content: space-between
.link-under
	color: $gray
	font-size: 20px
	+trans
	display: inline-block
	vertical-align: top
	position: relative
	&:after
		+rmin(1024)
			content: ''
			position: absolute
			width: 100%
			bottom: 0px
			height: 1px
			background: $gray
			left: 0
			+trans
	&:hover
		+rmin(1024)
			color: $red2
			&:after
				opacity: 0


