---
title: Index page
sections: [
{
	path: 'partials/_section-1.html',
	sectionMode: '',
	bgImg: 'fs-bg.jpg'
},
{
	path: 'partials/_section-2.html',
	sectionMode: '',
	bgImg: 'bg-figure.jpg'
},
{
	path: 'partials/_section-3.html',
	sectionMode: '',
	bgImg: 'sec-3.jpg'
},
{
	path: 'partials/_section-4.html',
	sectionMode: '',
	bgImg: 'bg-figure.jpg'
},
{
	path: 'partials/_section-5.html',
	sectionMode: '',
	bgImg: 'bg-figure.jpg',
	bgImgMain: 'sec-5-person.png',
	bgImgMainMode: 'section__bg-main--right'
},
{
	path: 'partials/_section-6.html',
	sectionMode: '',
	bgImg: 'bg-figure.jpg',
	bgImgMain: 'sec-6-person.png',
	bgImgMainMode: 'section__bg-main--left section__bg-main--full-h'
},
{
	path: 'partials/_section-7.html',
	sectionMode: '',
	bgImg: 'why-together.jpg',
},
{
	path: 'partials/_section-8.html',
	sectionMode: '',
	bgImg: 'bg-figure.jpg'
},
{
	path: 'partials/_section-9.html',
	sectionMode: '',
	bgImg: 'bg-figure.jpg',
	bgImgMain: 'sec-9-person.png',
	bgImgMainMode: 'section__bg-main--left section__bg-main--full-h'
}

]
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!--begin section-wrapper js-section-wrapper-->
<div class="section-wrapper js-section-wrapper">
	{% for item in sections %}
	{% include 'partials/_section.html' %}
	{% endfor %}
</div>
<!--end section-wrapper js-section-wrapper-->

{% endblock %}
