<div class="section-content  section-10">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<div class="decor-text decor-text--half-cirle" style="background-image: url('img/decor-circle-half.png')">KOSTENKO&OBORSKA
				<div class="top-lines "></div>
			</div>
			
		</div>
	</div>
	<div class="section-content__inner">
		<!--begin l-->
		<div class="l">
			<h2 class="title-m">Наші контакти</h2>
			<!--begin section-10__inner-->
			<div class="section-10__inner">
				<!--begin section-10__left-->
				<div class="section-10__left">
					<h3 class="title-m">Сергій</h3>
					<div class="decor-vert">
						<div class="contact-block__l">
							<p>Телефон :</p>
							<p>0935124468</p>
						</div>
						<div class="contact-block__l">
							<p>E-mail:</p>
							<p><a href="mailto:kostenkos132@gmail.com">kostenkos132@gmail.com</a></p>
						</div>
					</div>
				</div>
				<!--end section-10__left-->
				<!--begin section-10__right-->
				<div class="section-10__right">
					<h3 class="title-m">Інна</h3>
					<div class="decor-vert">
						<div class="contact-block__l">
							<p>Телефон :</p>
							<p>0935124468</p>
						</div>
						<div class="contact-block__l">
							<p>E-mail:</p>
							<p><a href="mailto:kostenkos132@gmail.com">kostenkos132@gmail.com</a></p>
						</div>
					</div>
				</div>
			</div>
			<!--end section-10__right-->
		</div>
		<!--end section-10__inner-->	

	</div>
	<!--end l-->
</div>
</div>
