<div class="section-content  section-9">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<div class="decor-text decor-text--half-cirle" style="background-image: url('img/decor-circle-half.png')">KOSTENKO&OBORSKA
				<div class="top-lines "></div>
			</div>
			
		</div>
	</div>
	<div class="section-content__inner">
		<!--begin l-->
		<div class="l">
			<h2 class="title-m">Весілля відбудеться  21.07.2018</h2>
			<div class="section-9__after-title">Заповніть, будь - ласка, форму нижче, це допоможе нам  організувати подію</div>
			<form action="mail.php">
				<!--begin section-9__inner-->
				<div class="section-9__inner">
					<!--begin section-9__left-->
					<div class="section-9__left">
						<div class="field">
							<input type="text" name="name" placeholder="*Введіть Ваше прізвище та  ім’я">
						</div>
						<div class="field">
							<input type="text" name="phone" placeholder="*Введіть контактний номер телефону">
						</div>
						<div class="field">
							<input type="text" name="dateIn" placeholder="Введіть орієнтовну дату приїзду в Яготин (якщо знаєте)">
						</div>
						<div class="field">
							<input type="text" name="dateOut" placeholder="Введіть орієнтовну дату від’їзду з Яготин (якщо знаєте)">
						</div>
					</div>
					<!--end section-9__left-->
					<!--begin section-9__right-->
					<div class="section-9__right">
						<div class="field field--textarea">
							<textarea name="relatives" placeholder="Введіть прізвище та ім’я членів родини з якими плануєте приїхати"></textarea>
						</div>
						<div class="field field--textarea ">
							<textarea name="livingPlace" placeholder=" Чи необхідне Вам житло для проживання? (є можливість знімати квартиру, за наявності місця переночувати в родичів, зняти кімнату в готелі)"></textarea>
						</div>
					</div>
					<!--end section-9__right-->
				</div>
				<!--end section-9__inner-->	
				<div class="field field--textarea">
					<textarea name="needs" placeholder="Особливі побажання(потреби)"></textarea>
				</div>
				<div class="centered">
					<button class="btn-submit" type="submit">Надіслати</button>
				</div>
			</form>


		</div>
		<!--end l-->

	</div>
</div>
