<div class="section-content section-content--bottom-line section-3">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<div class="decor-text decor-text--half-cirle" style="background-image: url('img/decor-circle-half.png')">KOSTENKO&OBORSKA
				<div class="top-lines "></div>
			</div>
			
		</div>
	</div>
	<div class="section-content__inner">
		<!--begin l-->
		<div class="l">
			<h2 class="title-lg">Наша історія</h2>
		</div>
		<!--end l-->
		
	</div>
</div>
