<div class="section-content  section-9">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<div class="decor-text decor-text--half-cirle" style="background-image: url('img/decor-circle-half.png')">KOSTENKO&OBORSKA
				<div class="top-lines "></div>
			</div>
			
		</div>
	</div>
	<div class="section-content__inner">
		<!--begin l-->
		<div class="l">
			<h2 class="title-m">Весілля відбудеться  21.07.2018</h2>
			<!--begin section-9__inner-->
			<div class="section-9__inner">
				<!--begin section-9__left-->
				<div class="section-9__left">

				</div>
				<!--end section-9__left-->
				<!--begin section-9__right-->
				<div class="section-9__right">

				</div>
				<!--end section-9__right-->
			</div>
			<!--end section-9__inner-->

		</div>
		<!--end l-->

	</div>
</div>
