<div class="section-content  section-8">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<div class="decor-text decor-text--half-cirle" style="background-image: url('img/decor-circle-half.png')">KOSTENKO&OBORSKA
				<div class="top-lines "></div>
			</div>
			
		</div>
	</div>
	<div class="section-content__inner">
		<!--begin l-->
		<div class="l">
			<h2 class="title-m">Весілля відбудеться  21.07.2018</h2>
			<div class="centered">
				<div class="timer js-timer"></div>
			</div>
			<!--begin section-8__inner-->
			<div class="section-8__inner">
				<!--begin section-8__left-->
				<div class="section-8__left">
					<div class="justify-content">
						<span class="title-sm">Коли?</span>
						<p>о 14 годині 30 хвилин</p>
					</div>
					<div class="justify-content">
						<span class="title-sm">Де?</span>
						<p>Київська обл., м. Яготин</p>
					</div>
					<a class="link-under js-popup-link" data-popup="popup-map" href="#">Подивитися на карті</a>
				</div>
				<!--end section-8__left-->
				<!--begin section-8__right-->
				<div class="section-8__right">
					<p>Короткий опис події:</p>
					<p>11.20 - короткий опис події</p>
					<p>14.30 - короткий опис події</p>
					<p>16.40 - короткий опис події</p>
				</div>
				<!--end section-8__right-->
			</div>
			<!--end section-8__inner-->

		</div>
		<!--end l-->
		<!--begin decor-block-->
		<div class="decor-block">
			<div class="decor-block__inner" style="background-image: url('img/sec-8-decor-img.jpg');">
				
			</div>
			
		</div>
		<!--end decor-block-->
	</div>
</div>
