<div class="section-content first-section">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<img src="img/fs-flowers.png" alt="alt">
			<div class="top-lines top-lines--full top-lines--red"></div>
		</div>
	</div>
	<div class="section-content__inner">
		<!--begin l-->
		<div class="l">
			<!--begin two-col-->
			<div class="two-col">
				<!--begin two-col__left-->
				<div class="two-col__left first-section__left">
					<div class="first-section__we-img">
						<img src="img/fs-we.png" alt="alt">
					</div>
				</div>
				<!--end two-col__left-->
				<!--begin two-col__right-->
				<div class="two-col__right first-section__right">
					<div class="first-section__decor-text decor-text " style="background-image: url('img/fs-decor-circle.png')">KOSTENKO&OBORSKA</div>
					<h1 class="title-lg">Ласкаво просимо <br>в наш світ !</h1>
				</div>
				<!--end two-col__right-->
			</div>
			<!--end two-col-->
			
		</div>
		<!--end l-->
		
	</div>

</div>
