<div class="section-content section-content--bottom-line section-6">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<div class="decor-text decor-text--half-cirle" style="background-image: url('img/decor-circle-half.png')">KOSTENKO&OBORSKA
				<div class="top-lines "></div>
			</div>
			
		</div>
	</div>
	<div class="section-content__inner">
		<!--begin l-->
		<div class="l">
			<!--begin section-6__inner-->
			<div class="section-6__inner">
				<!--begin why-block-->
				<div class="why-block">
					<h2 class="title-m">Чому я обрав Інну?</h2>
					<div class="quote">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit 
					</div>

				</div>
				<!--end why-block-->
				

			</div>
			<!--end section-6__inner-->


		</div>
		<!--end l-->

	</div>
</div>
