<div class="section-content second-section">
	<div class="section-content__head">
		<div class="section-content__head-img ">
			<div class="decor-text decor-text--half-cirle" style="background-image: url('img/decor-circle-half.png')">KOSTENKO&OBORSKA
				<div class="top-lines "></div>
			</div>
			
		</div>
	</div>
	<div class="section-content__inner">
		<div class="l l--sm l--ha">
			<div class="article">
				<p>Найприємніші речі стаються неочікувано. </p>
				<p>Ми були сусідами, друзями, потім вчилися, будували, розвивали свої стосунки та вирішили об’єднати свої долі. </p>
				<p>Цей крок для нас є дуже важливим і ми хочемо розділили його з Вами</p>
				
			</div>
		</div>
		<!--begin decor-block-->
		<div class="decor-block">
			<div class="decor-block__inner" style="background-image: url('img/sec-s-decor-img.jpg');">
				
			</div>
			
		</div>
		<!--end decor-block-->

	</div>
</div>
