.section-8
	&__inner
		margin-bottom: 5vh
		display: flex

	&__left
		flex-basis: 50%
		padding-right: 70px
		text-align: right
	&__right
		flex-basis: 50%
		padding-left: 70px
		p
			font-size: 20px
			margin-bottom: 20px
			+sh
				font-size: 16px
				margin-bottom: 15px
	.title-m	
		margin-bottom: 7vh
		+mh
			margin-bottom: 3vh
	.justify-content
		max-width: 390px
		align-items: center
		margin-left: auto
		margin-bottom: 20px
		+sh
			margin-bottom: 10px
			max-width: 300px
		p
			font-size: 24px
			+sh
				font-size: 20px
	.decor-block
		&__inner
			height: 25vh
	.l
		height: auto