.section-10
	&__inner
		display: flex
		font-size: 0
		justify-content: center
		+xs
			display: block
	&__left
		margin-right: 160px
		+xs
			margin-right: 0
	&__right
		flex-basis: 250px
	&__left, &__right
		flex-basis: 250px
		.title-m
			text-align: left
		a
			color: $gray
	&__img
		+dh
			height: 230px
		+mh
			height: 200px
		+m
			height: 150px

	.section-content__inner
		padding-top: 6vh
		+sh
			padding-top: 0vh
	.title-m
		margin-bottom: 30px
		// +sh
		// 	margin-bottom: 40px
		// +rh(700)
		// 	margin-bottom: 20px!important
	.l
		height: auto
		&> .title-m
			+sh
				margin-bottom: 	0px
	.decor-vert
		&:before, &:after
			+xs
				left: 0
				transform: translateX(0)
.contact-block
	&__l
		margin-bottom: 30px
		&:last-of-type
			margin-bottom: 0